.row{
    padding: 35px;
}

h1{
    font-family: serif;
}

mat-card {
    width: 600px;
    background-color: cadetblue;
    font-family: monospace;
    font-weight: bolder;
}

a{
    font-weight: bolder;
    color: darkblue;
    font-size: larger;
}

#flex{
    background-size: contain;
}