<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" href="/github">Github Repo</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/my-profile"
            >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/github">Search</a>
        </li>
      </ul> -->
      <br>
      <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputPassword2" class="sr-only">Search Name</label>
          <input type="text" class="form-control" id="term" [(ngModel)]="findName" name="term"  placeholder="Search">
        </div>
        <button type="submit" (click)="searchName()" class="btn btn-primary mb-2">Search</button>
    </form>

    <!-- </div> -->
  </nav>

 